<form [formGroup]="filters" class="form-redesing">
  <div class="form-redesing__section">
    <div class="form-group-redesing">
      <label class="form-group-redesing__label">{{
        "hoppers.filters.dates" | translate
      }}</label>
      <p-datepicker
        formControlName="dates"
        dateFormat="dd/mm/yy"
        styleClass="form-group__field"
        selectionMode="range"
        placeholder="{{ 'hoppers.filters.dates' | translate }}"
      />
    </div>
  </div>
  <div class="form-redesing__controls">
    <button
      class="btn-redesing btn-redesing__apply"
      (click)="handleFiltersApply()"
    >
      {{ ("hoppers.filters.apply" | translate).toUpperCase() }}
    </button>
    <button
      class="btn-redesing btn-redesing__clear"
      (click)="handleFiltersReset()"
    >
      {{ ("hoppers.filters.clear" | translate).toUpperCase() }}
    </button>
  </div>
</form>
