@use '../../../../../../../styles/colors' as *;
@use '../../../../../../../styles/borders' as *;
@use '../../../../../../../styles/weights' as *;

.alert-severity-chip{
  @extend .text-white, .br-large, .fw-semi-bold;;
  text-transform: uppercase;
  padding: 0.4rem 0.8rem;
  text-align: center;
  display: inline-block;
  width: 7rem;

  &--DANGER{
    @extend .bg-red-dark;
  }

  &--WARNING{
    @extend .bg-yellow;
  }

  &--INFO{
    @extend .bg-dark-blue;
  }
}
