@use '../../../../../../../styles/colors' as *;

.btn-step {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: 0px solid;
    padding: 2px;
}

.step {
    border-radius: 15px;
    border-width: 2px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-step {
    background-color: $sogama-dark-blue;
    color: $sogama-dark-blue-light2;
    border-color: $sogama-dark-blue-light2;
}

.inactive-step {
    background-color: transparent;
}

.go-back-container {
    padding-top: 5px;
}

.go-back-container button {
    background-color: $sogama-dark-blue-light;
    color: $sogama2-white;

    border: 1px solid $sogama2-white;
    padding: 10px;
    border-radius: 100%;
    transition: background-color .5s;
    cursor: pointer;
}

.go-back-container button:hover {
    background-color: $sogama-dark-blue;
}