@let locations = locationsStore.locations();

<filter-form (showFilterSignalChange)="handleFiltersClose()" (apply)="applyFilters()" [formGroup]="filtersForm"
    [showFilterSignal]="areFiltersOpenSignal()" (apply)="applyFilters()" (clear)="resetFilters()">

    <div filterFieldSlot class="filter">
        <label class="filter__label">Matrícula</label>
        <input formControlName="tractorHeadPlate" pInputText />
    </div>

    <div filterFieldSlot class="filter">
        <label class="filter__label">Estado</label>
        <p-multiselect formControlName="tractorHeadStatus" [options]="statusOptions" />
    </div>

    <div filterFieldSlot class="filter">
        <label class="filter__label">Origen</label>
        <p-multiselect formControlName="originId" [options]="locations" optionLabel="name" optionValue="locationId" />
    </div>

    <div filterFieldSlot class="filter">
        <label class="filter__label">Destino</label>
        <p-multiselect formControlName="destinationId" [options]="locations" optionLabel="name"
            optionValue="locationId" />
    </div>

    <div filterFieldSlot class="filter">
        <label class="filter__label">Rango de fechas</label>
        <p-datepicker formControlName="dates" selectionMode="range" styleClass="form-group__field" />
    </div>

</filter-form>