@if(container().isBooked) {
<p-message severity="warn">
  {{ "tractorHeadOperators.container.bookModal.dangerInfo" | translate : {
  code: container().code,
  tractorHeadPlate: container().scheduledPickup?.tractorHeadPlate,
  date: (container().scheduledPickup?.date | date: 'dd/MM/yyyy')
  } }}
</p-message>
}

<form [formGroup]="form" class="schedule-pick-up-form">
  <p-floatlabel variant="on">
    <p-select [options]="tractorHeadsOptions()" formControlName="tractorHead" inputId="tractorHeadPlate" [group]="true"
      fluid>
      <ng-template let-group #group>
        <div>
          <p>{{ group.label }}</p>
          <hr />
        </div>
      </ng-template>
    </p-select>
    <label for="tractorHeadPlate">
      {{ "tractorHeadOperators.container.bookModal.tractorHead" | translate }}
    </label>
  </p-floatlabel>
  <p-floatlabel variant="on">
    <p-select [options]="destinationOptions()" formControlName="destination" inputId="destination" [group]="true" fluid>
      <ng-template let-group #group>
        <div>
          <p>{{ group.label }}</p>
          <hr />
        </div>
      </ng-template>
    </p-select>
    <label for="destination">{{ "tractorHeadOperators.container.bookModal.destination" | translate }}</label>
  </p-floatlabel>
  <p-floatlabel variant="on">
    <p-datepicker formControlName="date" [minDate]="minDate" id="date" fluid />
    <label for="date">{{ "tractorHeadOperators.container.bookModal.pickupDate" | translate }}</label>
  </p-floatlabel>
  <button (click)="handleSubmit()" class="btn btn__primary">
    {{ "tractorHeadOperators.container.actions.bookPickup" | translate }}
  </button>
  <button (click)="handleCancel()" class="btn">
    {{ "tractorHeadOperators.container.actions.cancel" | translate }}
  </button>
</form>