<div (click)="handleClick()" class="alert-card">
  <div class="alert-card__header">
    <div class="alert-card__header-group">
      <alert-severity-chip [severity]="alert().severity" />
      <app-icon [name]="alert().hasBeenSeen ? 'eye' : 'eye-locked'" />
    </div>
    <p class="fw-bold">{{ alert().createdDateTime | date : "dd/MM HH:mm"  }}</p>
  </div>
  <p class="font-lg fw-bold">
    {{ `enums.alertsTypes.${alert().type}` | translate }}
  </p>
  <!-- @if(alert().vehicle || alert().container){ -->
  <ng-content></ng-content>
  <!-- } -->
</div>
