.alert-card {
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  padding: 0.8rem 1.6rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
  }

  &__header-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
}
