@let trucks = trucksEntriesStore.trucksList(); @let areFiltersOpen =
trucksEntriesStore.areTruckFiltersOpen();

<div class="new-page">
  <app-page-header
    pageTitle="Camiones"
    [areFiltersOpen]="areFiltersOpen"
    (onFiltersClick)="handleFiltersOpen()"
  />
  @if(areFiltersOpen) {
  <div class="new-page__filters">
    <div class="new-page__filters-close-control">
      <app-close-button (onClick)="handleFiltersClose()" />
    </div>

    <plant-operators-trucks-filters />
  </div>
  } @if(trucks.length !== 0) {
  <div class="new-page__content">
    @for(truck of trucks; track truck.id){
    <trucks-card [truck]="truck" (onDelete)="handleTruckDelete($event)" />
    }
  </div>
  } @else {
  <app-empty-page-message message="Hola" />
  }
</div>
