.truck-container-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__container {
    border-width: 0.1rem;
    border-style: solid;
    padding: 0.5rem;
    text-align: center;
  }
}
