<div class="page">
  <div class="page__header">
    <h1 class="page__title">{{ "newTruckEntry.title" | translate }}</h1>
  </div>
  <div class="page__filters"></div>
  <div class="page__content">
    <form [formGroup]="createForm" (ngSubmit)="handleSubmit()" class="form">
      <p-divider align="left">
        <b class="form__section-title">{{
          "newTruckEntry.form.sections.truck.title" | translate
        }}</b>
      </p-divider>
      <div class="form__section">
        <div class="form-group">
          <label for="plate" class="form-group__label">{{
            "newTruckEntry.form.sections.truck.fields.plate" | translate
          }}</label>
          <p-autocomplete
            formControlName="plate"
            [suggestions]="plateSuggestions()"
            (completeMethod)="filterPlateSuggestions($event)"
            styleClass="form-group__field"
            inputStyleClass="form-group__field"
          />
        </div>
        <div class="form-group">
          <label for="origins" class="form-group__label">{{
            "newTruckEntry.form.sections.truck.fields.origins" | translate
          }}</label>
          <p-multiselect
            formControlName="origins"
            [options]="originOptions"
            styleClass="form-group__field"
          />
        </div>
        <div class="form-group">
          <label for="residueType" class="form-group__label">{{
            "newTruckEntry.form.sections.truck.fields.residueType" | translate
          }}</label>
          <p-select
            formControlName="residueType"
            [options]="residueTypeOptions"
            styleClass="form-group__field"
          />
        </div>
      </div>
      <p-divider align="left">
        <b class="form__section-title">{{
          "newTruckEntry.form.sections.weights.title" | translate
        }}</b>
      </p-divider>
      <div class="form__section">
        <div class="form-group">
          <label for="" class="form-group__label">{{
            "newTruckEntry.form.sections.weights.fields.entryWeight" | translate
          }}</label>
          <p-inputnumber
            formControlName="entryWeight"
            styleClass="form-group__field"
            suffix=" Kg"
          />
        </div>
        <div class="form-group">
          <label for="" class="form-group__label">{{
            "newTruckEntry.form.sections.weights.fields.exitWeight" | translate
          }}</label>
          <p-inputnumber
            formControlName="exitWeight"
            styleClass="form-group__field"
            suffix=" Kg"
          />
        </div>
        <div class="form-group">
          <label for="" class="form-group__label">{{
            "newTruckEntry.form.sections.weights.fields.residueWeight"
              | translate
          }}</label>
          <p class="form-group__field">{{ residueWeight }} Kg</p>
        </div>
      </div>
      <p-divider align="left">
        <b class="form__section-title">{{
          "newTruckEntry.form.sections.unload.title" | translate
        }}</b>
      </p-divider>
      <div class="form__section">
        <div class="form-group">
          <label for="hopper" class="form-group__label">{{
            "newTruckEntry.form.sections.unload.fields.hopper" | translate
          }}</label>
          <p-select
            formControlName="hopper"
            [options]="hopperOptions"
            styleClass="form-group__field"
          />
        </div>
        <div class="form-group">
          <label for="date" class="form-group__label">{{
            "newTruckEntry.form.sections.unload.fields.date" | translate
          }}</label>
          <p-datepicker
            formControlName="date"
            styleClass="form-group__field"
            dateFormat="dd/mm/yy"
            [showTime]="true"
            hourFormat="24"
            styleClass="form-group__field"
          />
        </div>
        <!-- <div class="form-group">
          <label for="" class="form-group__label">{{
            "newTruckEntry.form.sections.unload.fields.container" | translate
          }}</label>
          <p class="form-group__field">{{ container }}</p>
        </div> -->
      </div>

      @if(formErrors().length > 0) {
      <ul class="form__errors">
        @for(error of formErrors(); track error) {
        <li>{{ error }}</li>
        }
      </ul>
      }

      <div class="form__controls">
        <button (click)="handleCancel()" class="btn btn__secondary">
          {{ "truck.form.actions.cancel" | translate }}
        </button>
        <button type="submit" class="btn btn__primary">
          {{ "truck.form.actions.submit" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
