<div class="pin-dialog">
  <p class="pin-dialog__title">{{ description }}</p>
  <p-inputotp [(ngModel)]="value" [integerOnly]="true" [length]="4" size="large">
    <ng-template #input let-token let-events="events" let-index="index">
      <input type="tel" inputmode="numeric" pattern="[0-9]*" maxlength="1" (input)="events.input($event)"
        (keydown)="events.keydown($event)" (change)="invalidOtpFormat() && invalidOtpFormat.set(false)"
        [attr.value]="token" [class]="invalidOtpFormat() ? 'custom-otp-input invalid-otp-format' :'custom-otp-input'" />
    </ng-template>
  </p-inputotp>
  <div class="pin-dialog__controls">
    <button (click)="validate()" class="btn btn__primary">
      {{ "truck.pinValidationDialog.submitControl" | translate }}
    </button>
    <button (click)="handleCancel()" class="btn btn__secondary">
      {{ "truck.confirmationModal.buttons.reject" | translate }}
    </button>
  </div>
</div>