@let areFiltersOpen = containersStore.areFiltersOpen(); @let isLoading =
containersStore.isBusy(); @let containers = containersStore.containers();

<app-header [pageTitle]="'containers.title' | translate">
  <plant-operator-breadcrumbs [items]="breadcrumbs" />
  <div class="header__actions">
    <button (click)="handleOpenFilters()" class="btn header__filter-button"
      [ngClass]="areFiltersOpen ? 'header__filter-button--open' : 'header__filter-button--close'">
      {{ 'containers.filterAction' | translate }}
      <app-icon [name]="'filter-options'" />
    </button>
  </div>
</app-header>

<div class="container new-page">
  <plant-operators-containers-filters />
  @if(isLoading) {
  <app-loader />
  } @else {
  @if (containers.length > 0) {
  <div class="new-page__content">
    @for (container of containers; track container) {
    <planta-operators-container-card [container]="container" (onClick)="handleCardClick($event)" />
    }
  </div>
  } @else {
  <app-empty-page-message [message]="'containers.emptyMessage' | translate" />
  }
  }
</div>