<div class="truck-card card--clickable" (click)="handleClick()">
  <div class="truck-card__header">
    <truck-plate
      [plateNumber]="truck().plate"
      class="truck-card__header-plate"
    />
    <trucks-state-chip
      [state]="truck().currentState"
      class="truck-card__header-state"
    />
    <residues-residue-type-chips
      [residueTypes]="truck().residueType"
      class="truck-card__header-residue"
    />
  </div>

  <div class="truck-card__body">
    <div class="truck-card__data-row">
      <div class="truck-card__data-column">
        <span class="truck-card__data-label">{{
          "components.trucks.card.entryDate" | translate
        }}</span>
        <span class="truck-card__data-value">
          {{
            truck().datetimeArrival
              ? (truck().datetimeArrival | date : "d/M/yyyy HH:mm")
              : "-"
          }}
        </span>
      </div>
      <div class="truck-card__data-column truck-card__data-column--align-right">
        <app-icon [name]="truck().isValidated ? 'lock' : 'unlock'" />
      </div>
    </div>

    <div class="truck-card__data-row">
      <div class="truck-card__data-column">
        <span class="truck-card__data-label">{{
          "components.trucks.card.entryWeightDate" | translate
        }}</span>
        <span class="truck-card__data-value">{{
          truck().datetimeArrivalWeight
            ? (truck().datetimeArrivalWeight | date : "d/M/yyyy HH:mm")
            : "-"
        }}</span>
      </div>
      <div class="truck-card__data-column truck-card__data-column--align-right">
        <span class="truck-card__data-label">{{
          "components.trucks.card.entryWeight" | translate
        }}</span>
        <span class="truck-card__data-value"
          >{{ truck().arrivalWeight }} Kg</span
        >
      </div>
    </div>

    <div class="truck-card__data-row">
      <div class="truck-card__data-column">
        <span class="truck-card__data-label"
          >{{ "components.trucks.card.unloadDate" | translate }}
        </span>
        <span class="truck-card__data-value">{{
          truck().datetimeUnloadBegin
            ? (truck().datetimeUnloadBegin | date : "d/M/yyyy HH:mm")
            : "-"
        }}</span>
      </div>
      <div class="truck-card__data-column truck-card__data-column--align-right">
        <span class="truck-card__data-label">{{
          "components.trucks.card.hopper" | translate
        }}</span>
        <span class="truck-card__data-value">{{
          truck().hopper?.name ?? "-"
        }}</span>
      </div>
    </div>

    <div class="truck-card__data-row">
      <div class="truck-card__data-column">
        <span class="truck-card__data-label">{{
          "components.trucks.card.exitWeightDate" | translate
        }}</span>
        <span class="truck-card__data-value">{{
          truck().datetimeExitWeight
            ? (truck().datetimeExitWeight | date : "d/M/yyyy HH:mm")
            : "-"
        }}</span>
      </div>
      <div class="truck-card__data-column truck-card__data-column--align-right">
        <span class="truck-card__data-label">{{
          "components.trucks.card.exitWeight" | translate
        }}</span>
        <span class="truck-card__data-value">{{ truck().exitWeight }} Kg</span>
      </div>
    </div>

    <div class="truck-card__data-row">
      <div class="truck-card__data-column">
        <span class="truck-card__data-label">{{
          "components.trucks.card.exitDate" | translate
        }}</span>
        <span class="truck-card__data-value">{{
          truck().datetimeExit
            ? (truck().datetimeExit | date : "d/M/yyyy HH:mm")
            : "-"
        }}</span>
      </div>
      @if (truck().canBeRemoved){
      <div class="truck-card__data-column truck-card__data-column--align-right">
        <p-button
          (click)="deleteTruck($event)"
          label="Eliminar"
          severity="info"
        ></p-button>
      </div>
      }
    </div>
  </div>

  <div class="truck-card__footer">
    <div class="truck-card__data-column">
      <span class="truck-card__data-label">{{
        "components.trucks.card.origins" | translate
      }}</span>
      <span class="truck-card__data-value">{{ originsText() }}</span>
    </div>
    <div class="truck-card__data-column truck-card__data-column--align-right">
      <span class="truck-card__data-label">{{
        "components.trucks.card.weightResidue" | translate
      }}</span>
      <span class="truck-card__data-value">{{ truck().weightResidue }}</span>
    </div>
  </div>
</div>
