@let origins = locationsStore.origins();

<div>
    @if (error()){
    <p-message severity="error">{{error()}}</p-message>
    }
    <form [formGroup]="truckForm" class="form">
        <div class="form__section">
            <div class="form-group">
                <p-floatlabel variant="in">
                    <p-multiselect id="originIds" formControlName="originIds" [options]="origins" optionLabel="name"
                        optionValue="locationId" styleClass="form-group__field" size="small" />
                    <label for=" originIds">{{
                        "truck.form.entrySection.fields.origin" | translate
                        }}</label>
                </p-floatlabel>
            </div>
            <div class="form-group">
                <p-floatlabel variant="in">
                    <p-select id="residueTypeId" formControlName="residueTypeId" [options]="residueTypeOptions"
                        styleClass="form-group__field" />
                    <label for="residueTypeId">{{
                        "truck.form.entrySection.fields.residueType" | translate
                        }}</label>
                </p-floatlabel>
            </div>
        </div>
        <div class="form__controls">
            <button (click)="handleSubmit()" class="btn btn__primary btn__action">
                {{ "truck.confirmationModal.buttons.accept" | translate }}
            </button>
            <button (click)="handleCancel()" class="btn btn__secondary btn__action">
                {{ "truck.confirmationModal.buttons.reject" | translate }}
            </button>
        </div>
    </form>
</div>