<div class="pin-dialog">
  <p class="font-lg">{{ description }}</p>
  <p-inputotp
    [(ngModel)]="value"
    [integerOnly]="true"
    [length]="4"
    size="large"
  >
    <ng-template #input let-token let-events="events" let-index="index">
      <input
        type="tel"
        inputmode="numeric"
        pattern="[0-9]*"
        maxlength="1"
        (input)="events.input($event)"
        (keydown)="events.keydown($event)"
        [attr.value]="token"
        class="custom-otp-input"
      />
    </ng-template>
  </p-inputotp>
  <div class="pin-dialog__controls">
    <button (click)="close()" class="btn btn__secondary">
      {{ "truck.pinValidationDialog.closeControl" | translate }}
    </button>
    <button
      (click)="handleConfirmWithoutValidation()"
      class="btn btn__secondary"
    >
      Confirmar sin validar
    </button>
    <button (click)="handleConfirmWithValidation()" class="btn btn__primary">
      {{ "truck.pinValidationDialog.submitControl" | translate }}
    </button>
  </div>
</div>
