<div class="truck-actions-card">
  @if(companyName()) {
    <button class="btn btn__primary"
            (click)="onValidatePin.emit()"
            [disabled]="isValidated()"
            [ngClass]="{'btn__disabled': isValidated()}">
      {{ "truck.form.actions.validate" | translate }}
    </button>
  }
  <button class="btn btn__danger"
          (click)="deleteTruck()"
          [disabled]="deleteDisabled()"
          [ngClass]="{'btn__disabled': deleteDisabled()}">
    {{ "truck.form.actions.delete" | translate }}
  </button>
</div>
