<form [formGroup]="editDeviceForm" class="form">
  <div class="form__section">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input id="name" type="text" pInputText formControlName="name" />
    </div>

    <div class="form-group">
      <label for="type">Tipo</label>
      <p-select
        id="type"
        formControlName="type"
        [options]="typeOptions"
        placeholder="Selecciona un tipo"
      ></p-select>
    </div>
  </div>

  <div class="form__section">
    <div class="form-group">
      <label for="location">Planta</label>
      <p-select
        id="location"
        formControlName="locationId"
        [options]="locationsStore.locations()"
        optionLabel="name"
        optionValue="locationId"
        placeholder="Selecciona una planta"
      ></p-select>
    </div>

    <div class="form-group">
      <label for="position">Posición</label>
      <p-select
        id="position"
        formControlName="plantPosition"
        [options]="positionOptions"
        placeholder="Selecciona una posición"
      ></p-select>
    </div>
  </div>

  <div class="form__section">
    <div class="form-group">
      <label for="ip">IP</label>
      <input id="ip" type="text" pInputText formControlName="ip" />
    </div>

    <div class="form-group">
      <label for="port">Puerto</label>
      <input id="port" type="text" pInputText formControlName="port" />
    </div>
  </div>

  <div class="form__section">
    <div class="form-group">
      <label for="power">Potencia (W)</label>
      <input id="power" type="number" pInputText formControlName="power" />
    </div>
    <div class="form-group">
      <label for="frequency">Frecuencia (MHz)</label>
      <input id="frequency" type="number" pInputText formControlName="frequency" />
    </div>
  </div>
</form>

<div class="form__controls">
  <button (click)="cancel()" class="btn btn__secondary">Cancelar</button>
  <button (click)="save()" class="btn btn__primary" [disabled]="editDeviceForm.invalid">
    Guardar
  </button>
</div>
