<div class="container-dates-card">
  <div class="container-dates-card__date-group">
    <p class="app-card__title app-card__title-light">{{ labelEntry() }}</p>
    <p class="container-dates-card__date">
      {{ entryDate() | date : "dd/MM/yyyy HH:mm" }}
    </p>
  </div>
  <div class="container-dates-card__date-group">
    <p class="app-card__title app-card__title-light">{{ labelExit() }}</p>
    <p class="container-dates-card__date">
      {{ exitDate() | date : "dd/MM/yyyy HH:mm" }}
    </p>
  </div>
</div>
