@let locations = locationsStore.locations();

<form [formGroup]="filters" class="filters" [@filterCollapse]>
  <div class="filters__body">
    <div class="filter">
      <label class="filter__label">Matrícula</label>
      <input formControlName="plate" pInputText />
    </div>
    <div class="filter">
      <label class="filter__label">Ubicación</label>
      <p-multiselect formControlName="state" [options]="currentStateOptions" />
    </div>
    <div class="filter">
      <label class="filter__label">Orixe</label>
      <p-multiselect
        formControlName="originId"
        [options]="locations"
        optionLabel="name"
        optionValue="id"
      />
    </div>
    <div class="filter">
      <label class="filter__label">Rango de fehcas</label>
      <p-datepicker
        formControlName="dates"
        selectionMode="range"
        styleClass="form-group__field"
      />
    </div>
  </div>
  <!-- <div class="truck-page__filters-container">

      <span class="truck-page__filters-close" (click)="setShowFilters()"><img src="images/assets/icons/aspa.svg"
          alt="Cerrar"></span>

      <div class="truck-page__filter">
        <label class="truck-page__filter-label">{{ "trucks.filters.plate" | translate }}</label>
        <input formControlName="plate" pInputText type="text" class="truck-page__input" />
      </div>

      <div class="truck-page__filter">
        <label class="truck-page__filter-label">{{ "trucks.filters.location" | translate }}</label>
        <p-multiselect formControlName="currentStates" [options]="locationFilterValues" />
      </div>

      <div class="truck-page__filter">
        <label class="truck-page__filter-label">{{ "trucks.filters.origin" | translate }}</label>
        <p-multiselect formControlName="origins" [options]="origins" />
      </div>

      <div class="truck-page__filter">
        <label class="truck-page__filter-label">{{ "trucks.filters.dates" | translate }}</label>
        <p-datepicker formControlName="dates" selectionMode="range" styleClass="form-group__field" />
      </div>

      <div class="truck-page__filter truck-page__filter--residue">
        <label class="truck-page__filter-label">{{ "trucks.filters.residueType" | translate }}</label>
        <div class="truck-page__residue-buttons">
          @for (residueType of residueTypeFilterValues; track residueType.value) {

          <button type="button" class="truck-page__residue-btn" [ngClass]="{
              'truck-page__residue-btn--negra': residueType.value === ResidueType.NEGRA,
              'truck-page__residue-btn--amarilla': residueType.value === ResidueType.AMARELA,
              'truck-page__residue-btn--marron': residueType.value === ResidueType.MARRON,
              'truck-page__residue-btn--active': isResidueTypeSelected(residueType.value.toString()) }"
            (click)="toggleResidueTypeFilter(residueType.value.toString())">
            {{ residueType.label.toUpperCase() }}
          </button>

          }
        </div>
      </div>
      <button class="truck-page__filter-btn-actions truck-page__filter-btn-actions--apply" (click)="applyFilters()">{{
        ("trucks.filters.apply" | translate).toUpperCase() }}
      </button>
      <button class="truck-page__filter-btn-actions truck-page__filter-btn-actions--reset"
        [disabled]="!canBeFiltersCleared()" (click)="handleFiltersReset()">{{ ("trucks.filters.clear" |
        translate).toUpperCase() }}
      </button>
    </div> -->
  <div class="filters__controls">
    <button
      (click)="applyFilters()"
      class="btn filters__control-button filters__apply-button"
    >
      Aplicar filtros
    </button>
    <button
      (click)="resetFilters()"
      class="btn filters__control-button filters__reset-button"
    >
      Restablecer filtros
    </button>
  </div>
</form>
