@let areFiltersOpen = truckStore.areTruckFiltersOpen(); @let locations =
locationsStore.locations(); @if(areFiltersOpen) {
<div class="new-page__filters">
  <div class="new-page__filters-close-control">
    <app-close-button (onClick)="handleFiltersClose()" />
  </div>

  <form [formGroup]="filters" class="filters" [@filterCollapse]>
    <div class="filters__body">
      <div class="filter">
        <label class="filter__label">Matrícula</label>
        <input formControlName="plate" pInputText />
      </div>
      <div class="filter">
        <label class="filter__label">Ubicación</label>
        <p-multiselect
          formControlName="state"
          [options]="currentStateOptions"
        />
      </div>
      <div class="filter">
        <label class="filter__label">Orixe</label>
        <p-multiselect
          formControlName="originId"
          [options]="locations"
          optionLabel="name"
          optionValue="id"
        />
      </div>
      <div class="filter">
        <label class="filter__label">Rango de fehcas</label>
        <p-datepicker
          formControlName="dates"
          selectionMode="range"
          styleClass="form-group__field"
        />
      </div>
    </div>

    <div class="filters__controls">
      <button
        (click)="applyFilters()"
        class="btn filters__control-button filters__apply-button"
      >
        Aplicar filtros
      </button>
      <button
        (click)="resetFilters()"
        class="btn filters__control-button filters__reset-button"
      >
        Restablecer filtros
      </button>
    </div>
  </form>
</div>

}
