@use '../../../../../../../../styles/colors' as *;
@use '../../../../../../../../styles/borders' as *;
@use '../../../../../../../../styles/weights' as *;

.origins-container-card {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  &__container {
    @extend .text-black, .fw-bold, .border-green, .br-large;
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border-width: 0.15rem;
    border-style: solid;
    box-shadow: 0 0 0.15rem rgba(0, 0, 0, 0.1);
  }
}