<div class="container-card" [class.--booked]="container().isBooked">

  <header class="container-card__header">
    <p class="container-card__code">{{ container().code }}</p>

    <div class="container-card__chips">
      @for (residue of container().residueTypes; track residue) {
      <residues-residue-type-chip [residueType]="residue" />
      }
    </div>
  </header>

  <section class="container-card__body">

    <div class="field">
      <span class="field__label">
        {{ "tractorHeadOperators.container.residueWeight" | translate }}
      </span>
      <span class="field__value">
        {{ container().currentWeight ? (`${container().currentWeight} Kg`) : '-' }}
      </span>
      <span class="field__label">
        {{ "tractorHeadOperators.container.containerWeight" | translate }}
      </span>
      <span class="field__value">
        {{ container().capacity }} kg
      </span>
    </div>

    <div class="field">
      <span class="field__label">
        {{ "tractorHeadOperators.container.arrivalDate" | translate }}
      </span>
      <span class="field__value">
        {{ container().arrivalDateTime ? (container().arrivalDateTime | date : `dd/MM/yyyy -
        HH:mm`) : '-' }}
      </span>
      <span class="field__label">
        {{ "tractorHeadOperators.container.fillDate" | translate }}
      </span>
      <span class="field__value">
        {{ container().fullLoadDateTime ? (container().fullLoadDateTime | date : `dd/MM/yyyy -
        HH:mm`) : '-' }}
      </span>
    </div>

    <div class="field">
      <span class="field__label">
        {{ "tractorHeadOperators.container.state" | translate }}
      </span>
      <span class="field__value">
        {{ `tractorHeadOperators.container.states.${container().state}`| translate }}
      </span>
    </div>

    <div class="field">
      <span class="field__label">Recogida:</span>
      <span class="field__value field__value--strong" [ngClass]="{
          'text--danger': container().isBooked,
          'text--success': !container().isBooked
        }">
        {{ container().isBooked ? container().scheduledPickup?.tractorHeadPlate :
        "tractorHeadOperators.container.pickup" |
        translate }}
      </span>
    </div>

    <div class="actions">
      <button (click)="handleBooking()" class="btn-reserve">
        {{ "tractorHeadOperators.container.actions.book" | translate }}
      </button>
    </div>
  </section>
</div>