@use '../../../../../../../../styles/colors' as *;
@use '../../../../../../../../styles/font-size' as *;
@use '../../../../../../../../styles/weights' as *;

.container-weight-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__weight {
    @extend .fw-bold, .font-3xl;
    height: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  &__kg {
    @extend .font-md;
    margin-left: 0.5rem;
  }
}