@use '../../../../../../../../styles/colors' as *;
@use '../../../../../../../../styles/font-size' as *;
@use '../../../../../../../../styles/weights' as *;

.container-info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  &__title {
    @extend .fw-bold, .font-2xl;
    text-align: center;
  }

  &__label {
    @extend .font-md, .text-gray;
    width: 100%;
    text-align: left;
    margin-left: 0;
    margin-bottom: 0.5rem
  }

  &__text {
    @extend .font-md, .text-gray;
    text-align: center;
  }
}