<form [formGroup]="truckForm" class="form">
  <p-divider align="left">
    <b class="form__section-title">{{
      "truck.form.entrySection.label" | translate
    }}</b>
  </p-divider>
  <div class="form__section">
    <div class="form-group">
      <p-floatlabel variant="in">
        <p-multiselect
          id="originIds"
          formControlName="originIds"
          [options]="originsOptions"
          styleClass="form-group__field"
          size="small"
        />
        <label for="originIds">{{
          "truck.form.entrySection.fields.origin" | translate
        }}</label>
      </p-floatlabel>
    </div>
    <div class="form-group">
      <p-floatlabel variant="in">
        <p-select
          id="residueTypeId"
          formControlName="residueTypeId"
          [options]="residueTypeOptions"
          styleClass="form-group__field"
        />
        <label for="residueTypeId">{{
          "truck.form.entrySection.fields.residueType" | translate
        }}</label>
      </p-floatlabel>
    </div>
  </div>
  <div class="form__section">
    <div class="form-group">
      <p-floatlabel variant="in">
        <p-inputnumber
          id="arrivalWeight"
          formControlName="arrivalWeight"
          suffix=" kg"
          class="form-group__field"
        />
        <label for="arrivalWeight">{{
          "truck.form.entrySection.fields.entryWeight" | translate
        }}</label>
      </p-floatlabel>
    </div>
    <div class="form-group">
      <p-floatlabel variant="in">
        <p-inputnumber
          id="exitWeight"
          formControlName="exitWeight"
          suffix=" kg"
          class="form-group__field"
        />
        <label for="exitWeight">{{
          "truck.form.entrySection.fields.exitWeight" | translate
        }}</label>
      </p-floatlabel>
    </div>
    <div class="form-group">
      <label class="form-group__label" for="entryWeight">{{
        "truck.form.entrySection.fields.residueWeight" | translate
      }}</label>
      <p id="entryWeight" class="form-group__field">
        {{ residueWeight() }}
      </p>
    </div>
  </div>
  <div class="form__section">
    <div class="form-group">
      <p-floatlabel variant="in">
        <p-select
          id="hopperId"
          formControlName="hopperId"
          [options]="hoppers"
          styleClass="form-group__field"
        />
        <label for="hopperId">{{
          "truck.form.entrySection.fields.hopper" | translate
        }}</label>
      </p-floatlabel>
    </div>
    <div class="form-group">
      <p-floatlabel variant="in">
        <p-datepicker
          inputId="dateTimeUnload"
          formControlName="dateTimeUnload"
          [showTime]="true"
          [iconDisplay]="'input'"
          [showIcon]="true"
          [maxDate]="currentDate"
          styleClass="form-group__field"
        />
        <label for="dateTimeUnload">{{
          "truck.form.entrySection.fields.unloadDate" | translate
        }}</label>
      </p-floatlabel>
    </div>
  </div>
  <p-divider align="left">
    <b class="form__section-title">{{
      "truck.form.containerSection.label" | translate
    }}</b>
  </p-divider>
  <div class="form__section">
    <div class="form-group">
      <label class="form-group__label" for="container">{{
        "truck.form.containerSection.fields.container" | translate
      }}</label>
      <p id="container" class="form-group__field">{{ container() }}</p>
    </div>
  </div>

  <div class="form__controls">
    <button (click)="handleCancel()" class="btn btn__secondary">
      {{ "truck.form.actions.cancel" | translate }}
    </button>
    <button (click)="handleSubmit()" class="btn btn__primary">
      {{ "truck.form.actions.submit" | translate }}
    </button>
  </div>
</form>
