<div class="card-redesing">
  <div class="card-redesing__header">
    <truck-plate [plateNumber]="load().truckPlate" class="font-lg" />
    @for(residueType of load().residueTypes; track residueType) {
    <residues-residue-type-chip [residueType]="residueType" />
    }
  </div>
  <form [formGroup]="loadForm">
    <div class="container-load-card__body">
      <div class="card-redesing_section">
        <div class="card-redesing__field">
          <span class="card-redesing__label card-redesing__label--medium">{{
            "components.containers.loadCard.unload" | translate
            }}</span>
          <p class="card-redesing__value">{{ load().unloadHopper.name }}</p>
        </div>
        <p-divider type="dashed"></p-divider>
      </div>
      <div class="card-redesing_section">
        <div class="card-redesing__field">
          <span class="card-redesing__label card-redesing__label--medium">{{
            "components.containers.loadCard.unloadDate" | translate
            }}</span>
          <p class="card-redesing__value">
            {{ load().unloadDatetime | date : "d/M/yyyy HH:mm" }}
          </p>
        </div>
        <p-divider type="dashed"></p-divider>
      </div>
      <div class="card-redesing_section">
        <div class="card-redesing__field">
          <span class="card-redesing__label card-redesing__label--medium">{{
            "components.containers.loadCard.truckResidueWeight" | translate
            }}</span>
          <p class="card-redesing__value">{{ truckResidueWeight() }} Kg</p>
        </div>
        <p-divider type="dashed"></p-divider>
      </div>
      <div class="card-redesing_section">
        <div class="card-redesing__field">
          <span class="card-redesing__label card-redesing__label--medium">{{
            "components.containers.loadCard.loadedWeight" | translate
            }}</span>
          @if (!load().changeInContainer){
          <p class="card-redesing__value">{{ load().unloadWeight }} Kg</p>
          } @else {
          <div class="container-load-card__form">
            <p-inputnumber inputId="integeronly" formControlName="unloadWeight" suffix=" Kg" [min]="0" />
          </div>
          }
        </div>
      </div>
    </div>
  </form>
</div>