@let areFiltersOpen = alertsStore.areAlertFiltersOpen(); @if(areFiltersOpen) {
<div class="new-page__filters">
  <div class="new-page__filters-close-control">
    <app-close-button (onClick)="handleFiltersClose()" />
  </div>

  <form [formGroup]="filters" class="filters" [@filterCollapse]>
    <div class="filters__body">
      <div class="filter">
        <label class="filter__label"> {{ 'alerts.filters.type' | translate }}</label>
        <p-multiselect
          formControlName="alertType"
          [options]="alertTypesOptions"
          optionLabel="label"
          optionValue="value"
          />
      </div>
      <div class="filter">
        <label class="filter__label">{{ 'alerts.filters.severity' | translate }}</label>
        <p-multiselect
          formControlName="severity"
          [options]="severityOptions"
          optionLabel="label"
          optionValue="value"
        />
      </div>
      <div class="filter">
        <label class="filter__label">{{ 'alerts.filters.vehicle' | translate }}</label>
        <input formControlName="vehicle" pInputText />
      </div>
      <div class="filter">
        <label class="filter__label">{{ 'alerts.filters.container' | translate }}</label>
        <input formControlName="container" pInputText />
      </div>
      <div class="filter">
        <label class="filter__label">{{ 'alerts.filters.dates' | translate }}</label>
        <p-datepicker
          formControlName="dates"
          selectionMode="range"
          styleClass="form-group__field"
        />
      </div>
    </div>

    <div class="filters__controls">
      <button
        (click)="applyFilters()"
        class="btn filters__control-button filters__apply-button"
      >
        {{ 'alerts.filters.apply' | translate }}
      </button>
      <button
        (click)="resetFilters()"
        class="btn filters__control-button filters__reset-button"
      >
        {{ 'alerts.filters.clear' | translate }}
      </button>
    </div>
  </form>
</div>

}
