<div class="graphic">
  @for (container of sortedLoads; track container.id) {
  <div class="graphic__row">
    <span
      class="graphic__plate graphic__plate--{{ container.residueTypes[0] }}"
    >
      {{ container.truckPlate }}</span
    >
    <div
      class="graphic__weight graphic__weight--{{ container.residueTypes[0] }}"
      [style.width.%]="(container.unloadWeight / containerCapacity()) * 100"
    >
      <!-- <span class="text-white">{{ weight(container) }} </span> -->
    </div>
    <span class="graphic__weight-value">{{ container.unloadWeight }} </span>
    <span style="margin-left: 0.2rem; position: relative; top: 0.1em">kg</span>
  </div>
  }
</div>
