<div class="truck-states-card">
  <div class="truck-states-card__chip text-black fw-bold border-green br-large">{{ ('enums.truckState.' + location()) | translate }}</div>
  @if (validated()) {
  <div class="truck-states-card__chip text-black fw-bold border-green br-large">
    <i class="pi pi-lock" style="font-size: 1.2rem"></i>
    {{ "truck.form.validateSection.validated" | translate }}
  </div>
  } @else {
  <div class="truck-states-card__chip text-black fw-bold border-green br-large">
    <i class="pi pi-lock-open" style="font-size: 1.2rem"></i>
    {{ "truck.form.validateSection.notValidated" | translate }}
  </div>
  }
</div>
