@let tractorHeads = tractorHeadsStore.tractorHeadsList();
@let areFiltersOpen = tractorHeadsStore.areFiltersOpen();
@let isBusy = tractorHeadsStore.isBusy();

<div class="new-page">
    <app-page-header pageTitle="Cabezas Tractoras" [areFiltersOpen]="areFiltersOpen"
        (onFiltersClick)="handleFiltersOpen()" />

    <div class="new-page__toolbar" style="display: flex; justify-content: flex-end;">
        <p-dropdown [options]="sortOptions" [(ngModel)]="selectedSort" (onChange)="handleSortChange($event)"
            placeholder="Ordenar por">
        </p-dropdown>
    </div>

    @if(areFiltersOpen) {
    <div class="new-page__filters">
        <div class="new-page__filters-close-control">
            <app-close-button (onClick)="handleFiltersClose()" />
        </div>
        <plant-operators-tractor-heads-filters />
    </div>
    }

    @if(!isBusy && tractorHeads.length > 0) {
    <div class="new-page__content">
        @for(tractorHead of tractorHeads; track tractorHead.id){
        <tractor-heads-card [tractorHead]="tractorHead" />
        }
    </div>
    } @else if (!isBusy) {
    <app-empty-page-message [message]="'containers.emptyMessage' | translate" />
    } @else {
    <app-loader />
    }
</div>