@let tractorHeads = tractorHeadsStore.tractorHeadsList();
@let areFiltersOpen = tractorHeadsStore.areFiltersOpen();
@let isBusy = tractorHeadsStore.isBusy();

<div class="new-page">
    <app-page-header pageTitle="Cabezas Tractoras" [areFiltersOpen]="areFiltersOpen"
        (onFiltersClick)="handleFiltersOpen()" />

    @if(areFiltersOpen) {
    <div class="new-page__filters">
        <div class="new-page__filters-close-control">
            <app-close-button (onClick)="handleFiltersClose()" />
        </div>
        <plant-operators-tractor-heads-filters />
    </div>
    }

    @if(!isBusy && tractorHeads.length > 0) {
    <div class="new-page__content">
        @for(tractorHead of tractorHeads; track tractorHead.plate){
        <tractor-heads-card [tractorHead]="tractorHead" />
        }
    </div>
    } @else if (!isBusy) {
    <app-empty-page-message message="No se han encontrado cabezas tractoras con los filtros seleccionados." />
    } @else {
    <app-empty-page-message message="Cargando..." />
    }
</div>